Django==1.5.1
gevent==0.13.8
hg+ssh://hg@bitbucket.org/Jeffrey/gevent-websocket#egg=gevent-websocket
greenlet==0.4.0
git+git://github.com/abourget/gevent-socketio.git#egg=gevent-socketio
gunicorn==0.17.2
redis==2.7.2
sse==1.2
git+git://github.com/niwibe/django-sse.git#egg=django_sse
simplejson==3.1.2
