<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>My App</title>

</head>
<body>
  <input id="delete" type="button" value="reset">
  <input id="incr" type="button" value="add sheep">
  <ul id="messages">
  </ul>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  <script src="{{ STATIC_URL }}js/libs/socket.io.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/eventsource.js"></script>

<script>
//window.addEventListener('load', function() {
$().ready(function() {

  $('#incr').click(function(e) {
    e.preventDefault();
    $.post('/incr/');
  });

  $('#delete').click(function(e) {
    e.preventDefault();
    $.post('/delete/');
  });

  // just a bunch of logging
  socket = io.connect('', {
    transports: ['websocket', 'xhr-multipart', 'xhr-polling', 'jsonp-polling']
  });

  socket.on("myevent", function(e) {
    console.log("<myevent> event", arguments);
    $('#messages').append("<li>" + arguments[0] + " sheeps jumped over the fence...</li>");
  });
  socket.on("message", function(e) {
    console.log("Message", e);
  });

  socket.on("joined", function(e) {
    console.log("joined", arguments);
  });

  socket.on("connect", function(e) {
    console.log("Connected", arguments);
    socket.emit('subscribe', 'default_room');
  });

  socket.on("disconnect", function(e) {
    console.log("Disconnected", arguments);
  });

});

</script>

</body>
</html>
