<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>My App</title>

</head>
<body>
  <input id="sse_delete" type="button" value="reset (sse)">
  <input id="sse_incr" type="button" value="add sheep (sse)">
  <ul id="messages">
  </ul>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  {#<script src="{{ STATIC_URL }}js/libs/socket.io.min.js"></script>#}
  <script src="{{ STATIC_URL }}js/libs/eventsource.js"></script>

<script>
//window.addEventListener('load', function() {
$().ready(function() {
  // SSE
  var source = new EventSource('/sse/');
 
  function log() {
    console.log(arguments);
  }
 
  source.onopen = function() {
    console.log(arguments);
  };
 
  source.onerror = function () {
    console.log(arguments);
  };

  source.onmessage = function() {
    console.log(arguments);
  };

  source.addEventListener('connections', log, false);
  source.addEventListener('requests', log, false);
  source.addEventListener('myevent', function(e) {
        $('#messages').append("<li>" + e.data + " sheeps jumped over the fence...</li>");
  }, false);

  $('#sse_incr').click(function(e) {
    e.preventDefault();
    $.post('/sse_incr/');
  });

  $('#sse_delete').click(function(e) {
    e.preventDefault();
    $.post('/sse_delete/');
  });

/*
  
  // Socket.io
  $('#incr').click(function(e) {
    e.preventDefault();
    $.post('/incr/');
  });

  $('#delete').click(function(e) {
    e.preventDefault();
    $.post('/delete/');
  });

  WEB_SOCKET_SWF_LOCATION = '{{ STATIC_URL }}js/libs/WebSocketMain.swf';

  socket = io.connect('', {
  });

  socket.on("myevent", function(channel, data) {
    console.log("<myevent> event", arguments);
    $('#messages').append("<li>" + data + " sheeps jumped over the fence...</li>");
  });
  socket.on("message", function(e) {
    console.log("Message", e);
  });

  socket.on("joined", function(e) {
    console.log("joined", arguments);
  });

  socket.on("connect", function(e) {
    console.log("Connected", arguments);
    socket.emit('subscribe', 'default_room');
  });

  socket.on("disconnect", function(e) {
    console.log("Disconnected", arguments);
  });
*/
});

</script>

</body>
</html>
